.resources {
  max-width: 1448px;
  box-sizing: border-box;
  padding: 40px 108px 50px 108px;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .resources {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 1023px) {
  .resources {
    padding-left: 35px;
    padding-right: 35px;
  }
}

@media screen and (max-width: 424px) {
  .resources {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 374px) {
  .resources {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
