.menu-container {
  max-width: 1448px;
  box-sizing: border-box;
  padding: 7px 120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 1439px) {
  .menu-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 1279px) {
  .menu-container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1023px) {
  .menu-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
