.menu-info {
  max-width: 1448px;
  box-sizing: border-box;
  padding: 7px 120px;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .menu-info {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 1023px) {
  .menu-info {
    padding-left: 15px;
    padding-right: 15px;
  }
}
