.menu-top__nav {
  display: flex;
}

@media screen and (max-width: 1023px) {
  .menu-top__nav {
    flex-direction: column;
  }
}

@media screen and (max-width: 424px) {
  .menu-top__nav {
    width: 115px;
  }
}
