.resources__title-line {
  max-width: 916px;
}

@media screen and (max-width: 1439px) {
  .resources__title-line {
    max-width: 716px;
  }
}

@media screen and (max-width: 1279px) {
  .resources__title-line {
    max-width: 616px;
  }
}

@media screen and (max-width: 1023px) {
  .resources__title-line {
    max-width: 516px;
  }
}

@media screen and (max-width: 899px) {
  .resources__title-line {
    max-width: 400px;
  }
}

@media screen and (max-width: 767px) {
  .resources__title-line {
    display: none;
  }
}

